*{
	padding: 0;
	margin: 0;
}

header{
	padding: 15px;
	margin: 15px auto;
	text-align: center;
	width: 70%;
	margin: auto;
}

header p{
	font-size: 20px;
}

.container .carousel{
	width: 70%;
	margin: 0 auto;
}

.container .card{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

footer{
	padding: 10px 0;
}

footer .contactanos h3{
text-align: center;
}

footer .redes-sociales{
	display: flex;
	justify-content: center;
}


footer .redes-sociales .facebook{
font-size: 40px;
border-radius: 3px;
margin: 0 20px;
display: flex;
justify-content: center;
}

footer .redes-sociales .whatsapp{
font-size: 40px;
border-radius: 3px;
margin: 0 20px;
color: green;
display: flex;
justify-content: center;
}

footer .redes-sociales .usuario, footer .redes-sociales .cuenta{
	padding: 5px;
	margin: 10px;
	width: 100%;
}

@media screen and (max-width: 800px){
	footer .sp a{
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 600px){
	header p{
		font-size: 16px;
	}
}

